<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code2LLM</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container" role="main">
        <h1 class="montagu-slab-regular">
            Code<span class="bg-[#2AF5E1]">2</span>LLM
        </h1>
        <div id="code-container"></div>

        <div class="copied-container">
            <h2 class="text-center text-lg font-semibold text-gray-300">Copied Chunks</h2>
            <div id="completed-chunks"></div>
        </div>
    </div>

    <div id="toast" class="toast" role="alert" aria-live="assertive">Copied to clipboard!</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="../static/js/scripts.js"></script>
</body>

</html>